page-easypay {
    .scroll-content {
        overflow-y: auto !important;
        background-color: $light-background;

        .subtitle {
            margin-top: 5px;   
            margin-bottom: 16px;         
            text-align: center;
            font-size: 1.4rem;
            color: #666;
        }

        #ref-container {
            padding: 16px;
            background-color: white;
            border: 1px solid $dark-grey-border;
            margin-top: 30px;

            .label {
                text-align: center;
                // color: #004f6e;
                color: #00a0e3;
                font-size: $md-font-size;
            }

            img {
                margin-top: 10px;
                margin-bottom: 10px;
                height: 100px;
                width: auto;
            }

            .key {
                font-size: 1.7rem;  
            }

            .value {
                font-size: 1.7rem;
                text-align: right;
            }

            .limit-payment-date {
                margin-top: 10px;
                text-align: center;
                font-size: 1.4rem;
                color: #666;
            }
        }

        ion-item.input-field {
            background-color: $light-background !important;
            
            .item-inner {
                border-color: $dark-grey-border;
            }
        }
        
        ion-item {
            padding-left: 0px !important;
        }

        .login-btn {
            min-height: 50px;
            font-size: 1.6rem;
        }

        ion-thumbnail {
            min-width: 30px !important;
            min-height: 30px !important;
        }

        .mb-img {
            width: 30px !important;
            height: 30px !important;
        }

        .visa-img {
            width: auto !important;
            height: 30px !important;
        }
    }
}
