page-forgot-password {
    ion-header button.back-button {
        color: white !important;
    }

    ion-header::after {
        background-image: none !important;
    }

    .scroll-content {
        overflow-y: hidden !important;

        img {
            width: 50% !important;
            margin-bottom: 10px;
        }

        ion-item,
        button.item {
            padding-left: 0px !important;
        }

        .forgot-pass {
            margin-top: 40px;
            margin-bottom: 50px; 
            a {
                // color: $light-text-blue !important;
                color: white !important;
            }
        }

        #forgot-pass-msg {
            margin-top: 20px;
            font-size: 1.6rem;
            color: $light;
        }


        ion-item.item-input-has-focus.input-has-focus {
            .item-inner {
                border-bottom: 1px solid white;
            }
        }
    }
}
